
.logo-container {
  padding: 30px 0;
  text-align:left;
}

.logo-container.has-text-centered {
  text-align:center;
}

.App-logo {
  width: 200px;
}

.results {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top:35px;
  max-width: 98%;
  margin: 0 auto;
}
