.demo {
  overflow: hidden;
}

.header {
  text-align: center;
  border-bottom:4px solid rgb(69, 90, 73);
}

.App-logo {
  max-width: 150px;
}

.main {
  text-align: left;
  float:left;
  width:50%;
  padding: 100px 10%;
}

label {
  display: inline-block;
  width:100px;
  margin-bottom: 20px;
  clear:both;
}

input,select {
  
}

.sidebar {
  float:right;
  width:30%;
  padding: 100px 0;
}

.nav{
  list-style: none;
}

.nav-item{
  display: inline-block;
  margin:0 10px;
}