<h2>{{ title }}</h2>
<table *ngIf="numberOfOperation > 0; else emptyList">
  <thead>
      <tr>
         <th>Description</th>
            <th>Kind</th>
            <th>Amount</th>
            <th>Delete</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let operation of operations">
        <td>{{ operation.description }}</td>
        <td>{{ operation.kind }}</td>
        <td>{{ operation.amount | number:'7.2-2' }}</td>
        <td><button (click)="deleteOperation(operation)">delete</button></td>
      </tr>
  </tbody>
</table>

<ng-template #emptyList><h3>No operations yet</h3></ng-template>

<form class="container">

  <label for="description">Description</label>
  <input name="description"
        #inputDescription
        [value]="operation.description"
        (change)="operation.description=inputDescription.value"
        type="text" />

  <label for="inputAmount">Amount</label>
  <input name="amount"
        [(ngModel)]="operation.amount"
        type="number" />

  <label>Kind Of Operation</label>
  <select name="kind" [(ngModel)]="operation.kind">
    <option>Please Select Kind</option>
    <option *ngFor="let kind of kindsOfOperations"
        [value]="kind">{{kind}}</option>
  </select>

  <button (click)="saveOperation()">Save</button>

</form>
